*{
	margin: 0;
	padding: 0;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
}

body{
	font-family: tahoma;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/slider-img-2.jpg);
	background-repeat: no-repeat;  
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.hero{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

h1{
	color: white;
}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li{
	display: inline-block;
	margin-left: 10px;

}

.main-nav li a{
	text-decoration: none;
	color: white;
	font-size: 90%;
	font-weight: bold;
}

.main-nav li a:hover{
	color: red;
	border-bottom: 2px solid red;
	transition:all 0.5s ease-in;
	padding: 10px 0;
}

.logo img {
	height: 200px;
	float: left;
}

.btn{
	border: 1px solid red;
	padding: 10px 10px;
	color: red;
	text-decoration: none;
	border-radius: 10px;
	margin-right: 10px;
}

 .btn-btn1:hover{
 	background-color: red;
 	color: white;
 	transition: all 0.5s ease-in;
 }

 .btn-btn2:hover{
 	background-color: red;
 	color: white;
 	transition: all 0.5s ease-in;
 }

.button{
	margin-top: 50px;
}
